* {
    font-family: Arial, sans-serif;
}

hr {
    border: 1px solid #84848410;
}

#container {
    width: 700px;
    margin: auto;
}

.message_header {
    display: flex;
    justify-content: space-between; /* Pour bien espacer le nom et la date */
    align-items: center;
    margin-bottom: 5px;
}

.message_username {
    font-weight: bold;
    margin-left: 5px; /* Plus visible que 0.5px */
}

.message_created_at {
    color: #424242;
    font-size: 1.2rem;
    padding: 2px;
}
